@import "../libs/reset.scss";
@import "../libs/variable.scss";

$primary: rgb(235, 236, 240);
$second: rgb(240, 241, 245);
/* ordi et tablette au dessus de 760px et smartphone entre 480 et 360px*/

%border{
    border: rgb(255, 255, 255);
    border-style: none;
    border-radius: 2rem;
}

%police{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

%shadow{
    box-shadow: 2px 1px 2px rgb(156, 155, 155);
}

/*----------------------------------------------------------------------------------------
    Body 
----------------------------------------------------------------------------------------*/

body{
    @extend %police;
    background-color: $primary;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "header header header"
                         "aside_left section aside_right"
                         "aside_left section aside_right";
    
}


/*----------------------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------------------*/

.header{
    grid-area: header;
    background-color: white;
    width: 100%;
    height: 3.7rem;
    align-items:center;
    justify-content: center;
    img{
        vertical-align: middle;
        border-radius: 5rem;
    }
}

.header_nav-search{
    @extend %border;
    background-color: $second;
    float: left;
    align-items: center;  
    width: 20%;
    margin-top: 1rem;
    input{
        border-style: none;
        background-color: $second;
        width: 15rem;
        padding: 0.7rem;
        font-size: 1rem;
    }

    img{
        margin-left: 0.5rem;
        vertical-align: middle;
        border-radius: 5rem;
        
    }
}

.header_nav-menu{
    text-align: center;
    margin-right: 22rem;  
    img{
        margin: 0.4rem 2rem;
       }
    
}

.header_nav-menu-icon{
    display : inline-block;
    align : top;
    margin-top: 0.5rem;
    width: 7rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
   &:hover{
       background-color: darken($color: white, $amount: 5);
   }
}

.header_right{
    text-align: right;
    margin-top: -2.6rem;
   margin-right: 1.5rem;
}
.header_nav-right, .header_nav-right-profil{
    display : inline-block;
    align : top; 
    margin-right: 0.3rem;
    
}
.header_nav-right-profil{
    border-radius: 2rem;
    padding: 0.25rem;
    &:hover {
        background-color: darken($color: white, $amount: 5);
    }
}
.header_nav-right{
    padding: 0.5rem;
    border-radius: 5rem;    
    background-color: $second;
    &:hover {
        background-color: darken($color: $second, $amount: 5);
    }
}

/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/

.section{
    grid-area: section;
    display: grid;
    grid-template-areas:"story"
                        "watsup"
                        "salons"
                        "post";

}

.story{
    grid-area: story;
    width: 85%;
    height: 25%;
    display: grid;
    grid-template-areas:"story_blok0 story_blok1 story_blok2 story_blok3 story_blok4";
    img{
        border-radius: 1rem;
        margin-left: 4rem;
       
    }
}

%block{
    margin-top: 18%;
}

.story_blok0{
    grid-area: story_blok0;
    @extend %block;
}
.story_blok1{
    grid-area: story_blok1;
    @extend %block;
}
.story_blok2{
    grid-area: story_blok2;
    @extend %block;
}
.story_blok3{
    grid-area: story_blok3;
    @extend %block;
}
.story_blok4{
    grid-area: story_blok4;
    @extend %block;
}

/*---------------------------------------------------*/

.section_watsup{
    grid-area: watsup;
    background-color: white;
    margin-left: 7rem;
    width: 33rem;
    height: 108%;
    border-radius: 0.5rem;
    @extend %shadow;
}
.section_watsup_search{
margin: 0.5rem 0.5rem;
    img{
        border-radius: 5rem;
        vertical-align: bottom;
    }
    input{
        vertical-align: super;
        border-style: none;
        border-radius: 1.5rem;
        background-color: $second;
        width: 90%;
        padding: 0.7rem;
        font-size: 1rem;
    }
   
}
.section_wastup_hr{
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    width: 95%;
    margin-left: 0.8em;
    border-style: outset;
}
.section_wastup_block{
    display: inline;
    vertical-align: middle;
    border-radius: 0.5rem;
    padding: 0.5rem;
   margin-left: 1rem;
    img{
        vertical-align: middle;
    }

    
    &:hover {
        background-color: darken($color: $second, $amount: 5);
    }
}

/*---------------------------------------------------*/

.section_salons{
    grid-area: salons;
    background-color: white;
    margin-left: 7rem;
    margin-top: 1rem;
    width: 33rem;
    border-radius: 0.5rem;
    height: 5rem;
    @extend %shadow;
}

.section_salons-top{
    margin: 0.3rem;
    display: line;
    p{
        display: inline;
    }

    img{
        float: left;
        vertical-align: super;
        margin-right: 0.2rem;
    }
    a{
        color: blue;
        margin-left: 23.5rem;
        text-decoration: none;
    }
}

.section_salons-bottom{
    margin-left: 1rem;
    img{
        margin: 0.2rem;
    }
}
/*---------------------------------------------------*/

.section_post{
    grid-area: post;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 7rem;
    width: 33rem;    
    background-color: white;
    height: 53.5rem;
    @extend %shadow;
}

.section_post-blok0{
    display: line;
}

.section_post-block-P-img{
        vertical-align: text-bottom; 
        float: left;
        margin-left: 1rem;
        margin-top: 0.5rem;
}
.section_post-block-top{
    margin: 1rem 0.5rem;
    img{
        border-radius: 5rem;
    }
    p{
        vertical-align: text-top;
    }
}

.section_post-block-middle{
    display: inline-flex;
    margin-top: 0.5rem;
    a{
        color: gray;
        margin-top: 0.5rem;
        margin-left: 21rem;
    }
}

.section_post-block-top-icon{
    margin-left: 10rem;
}
.section_post-block-middle-btn{
    display: inline;
    margin-left: 4rem;
    border-style: none;
    padding: 0.5rem 2rem;
    img{
        margin-bottom: -0.4rem;
    }
    &:hover{
        background-color: darken($color: $second, $amount: 5);
    }
}
.section_post-block-hr{
    margin: 0.7rem;
}
.section_post-block-bottom-com{
    display: line;
    background-color: $primary;
    margin-left: 3.1rem;
    border-radius: 1.5rem;
    padding: 0.7rem;
    img{
        float: right;
    }
    input{
        background-color: $primary;
        border-style: none;
    }
}

/*----------------------------------------------------------------------------------------
    aside left
-----------------------------------------------------------------------------------------*/
.aside_left{
    @extend %police;
    grid-area: aside_left;
    img{
    vertical-align: middle;
    border-radius: 5rem;
    }
}

.aside_left-ol-ul{
    @extend %border;
    @extend %police;
    margin: 1rem;
    &:hover{
        background-color: darken($color: $primary, $amount: 5);
    }
}

.aside_left-hr{
    border-style: outset;
    margin: 0.5rem 1rem;
}

.aside_left-h3{
    margin: 1rem;
    font-size: 1.1rem;
}


/*----------------------------------------------------------------------------------------
    aside right
-----------------------------------------------------------------------------------------*/

.aside_right{
    grid-area: aside_right;
    width: 100%;
}

.aside_right-pub{
    width: 13.5rem;
    margin: 1rem;
    img{
        float:left;
        vertical-align: middle;
    }
     
}

.aside_right-p-span{
    color: gray;
}
.aside_right-hr{
    @extend .aside_left-hr;
    margin: 1rem;
}
.aside_right-h3{
    @extend .aside_left-h3;
    display: inline;
    margin: 1rem;
}
.aside_right-iconB{
margin-left: 13rem;
display: inline;
}
.aside_right-icon{
    width: 1.1rem;
}

.aside_right-ul{
    p{
        @extend .aside_left-ol-ul;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    img{
        width: 2.2rem;
        border-radius: 5rem;    

    }
}
.aside_right-ul-contact-name{
    text-align: center;
    vertical-align: super;
}
