/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

.aside_right-ul p, .aside_left ul {
  border: white;
  border-style: none;
  border-radius: 2rem;
}

.aside_left, .body_deskop {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.section_post, .section_salons, .section_watsup {
  box-shadow: 2px 1px 2px #9c9b9b;
}

/*----------------------------------------------------------------------------------------
    Body 
----------------------------------------------------------------------------------------*/
.body_deskop {
  background-color: #ebecf0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "header header header" "aside_left section aside_right" "aside_left section aside_right";
}

/*----------------------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------------------*/
.header {
  grid-area: header;
  background-color: white;
  width: 100%;
  height: 3.7rem;
  justify-content: space-between;
}
.header img {
  vertical-align: middle;
  border-radius: 5rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header_left {
  display: flex;
  justify-content: flex-start;
  width: 25%;
}

.header_left-search {
  background-color: #f0f1f5;
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-top: 0.6rem;
  border-radius: 90px;
}
.header_left-search input {
  border-style: none;
  background-color: #f0f1f5;
  width: 15rem;
  font-size: 1rem;
}
.header_left-search img {
  margin-left: 0.7rem;
  vertical-align: middle;
  border-radius: 5rem;
}

.header_middle {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}
.header_middle img {
  margin: 0.4rem 2rem;
}

.header_middle-icon {
  display: flex;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.header_middle-icon img {
  width: 30%;
  height: 70%;
}
.header_middle-icon:hover {
  background-color: #f2f2f2;
}

.header_right {
  display: flex;
  width: 20%;
  height: 42px;
  margin-top: 0.5rem;
}

.header_right-icon {
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: #f0f1f5;
}
.header_right-icon:hover {
  background-color: #e1e3eb;
}

/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/
.section {
  grid-area: section;
  display: box;
}

.story {
  grid-area: story;
  width: 86%;
  display: flex;
  margin-top: 1rem;
}
.story img {
  border-radius: 1rem;
  margin-left: 4rem;
}

/*---------------------------------------------------*/
.section_watsup {
  grid-area: watsup;
  margin-top: 0.8rem;
  background-color: white;
  margin-left: 6.5rem;
  width: 75%;
  height: 100px;
  border-radius: 0.5rem;
}

.section_watsup_search {
  margin: 0.5rem 0.5rem;
  margin-top: 1rem;
}
.section_watsup_search img {
  border-radius: 5rem;
  vertical-align: middle;
}
.section_watsup_search input {
  vertical-align: middle;
  border-style: none;
  border-radius: 1.5rem;
  background-color: #f0f1f5;
  width: 85%;
  height: 35px;
  font-size: 1rem;
}

.section_wastup_hr {
  vertical-align: middle;
  width: 93%;
  border-style: outset;
}

.section_wastup_block {
  margin-top: 0.5rem;
}
.section_wastup_block img {
  vertical-align: middle;
}
.section_wastup_block:hover {
  background-color: #e1e3eb;
}

/*---------------------------------------------------*/
.section_salons {
  grid-area: salons;
  background-color: white;
  margin-left: 6.5rem;
  margin-top: 0.8rem;
  width: 75%;
  border-radius: 0.5rem;
  height: 75px;
}
.section_salons img {
  float: left;
  vertical-align: super;
  margin-right: 0.2rem;
}
.section_salons a {
  margin-right: 0.7rem;
  color: blue;
  text-decoration: none;
}

.section_salons-bottom {
  display: flex;
}
.section_salons-bottom img {
  margin: 0.2rem;
}

/*---------------------------------------------------*/
.section_post {
  grid-area: post;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 6.5rem;
  width: 75%;
  background-color: white;
  height: 100%;
}
.section_post a {
  margin-right: 0.7rem;
  color: gray;
  text-decoration: none;
}
.section_post hr {
  width: 93%;
  margin-left: 1.5rem;
  border-style: outset;
}

.post_container {
  width: 100%;
  font-size: 1rem;
  justify-content: space-between;
}
.post_container img {
  width: 1rem;
}

.post_btn {
  padding: 0.2rem;
}
.post_btn img {
  width: 1.4rem;
  vertical-align: middle;
}
.post_btn:hover {
  background-color: #e1e3eb;
}

.post_bottom {
  display: line;
  background-color: #ebecf0;
  margin-left: 3rem;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
.post_bottom img {
  float: right;
}
.post_bottom input {
  background-color: #ebecf0;
  border-style: none;
  padding: 0.3rem;
}

/*----------------------------------------------------------------------------------------
    aside left
-----------------------------------------------------------------------------------------*/
.aside_left {
  grid-area: aside_left;
  width: 100%;
}
.aside_left img {
  vertical-align: middle;
  border-radius: 5rem;
}
.aside_left ul {
  margin: 1rem;
}
.aside_left ul:hover {
  background-color: #dcdee5;
}

.aside_left-hr, .aside_right-hr {
  border-style: outset;
  margin: 0.5rem 1rem;
}

.aside_left-h3 {
  margin: 1rem;
  font-size: 1.1rem;
}

/*----------------------------------------------------------------------------------------
    aside right
-----------------------------------------------------------------------------------------*/
.aside_right {
  grid-area: aside_right;
  width: 100%;
}

.aside_right-pub {
  width: 13.5rem;
  margin: 1rem;
}
.aside_right-pub img {
  float: left;
  vertical-align: middle;
}

.aside_right-p-span {
  color: gray;
}

.aside_right-hr {
  margin: 1rem;
}

.aside_right-ul p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin: 1rem;
}
.aside_right-ul p:hover {
  background-color: #dcdee5;
}
.aside_right-ul img {
  vertical-align: middle;
  width: 2.2rem;
  border-radius: 5rem;
}

/*# sourceMappingURL=style.css.map */
