@import "../libs/reset.scss";
@import "../libs/variable.scss";

/* ordi et tablette au dessus de 760px et smartphone entre 480 et 360px*/

%border{
    border: rgb(255, 255, 255);
    border-style: none;
    border-radius: 2rem;
}

%police{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

/*----------------------------------------------------------------------------------------
    Body 
----------------------------------------------------------------------------------------*/

body{
    @extend %police;
    background-color: $primary;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "header header header"
                         "aside_left section aside_right"
                         "aside_left section aside_right";
    
}


/*----------------------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------------------*/

.header{
    grid-area: header;
    background-color: white;
    width: 100%;
    height: 3.7rem;
    align-items:center;
    justify-content: center;
    img{
        vertical-align: middle;
        border-radius: 5rem;
    }
}

.header_nav-search{
    @extend %border;
    background-color: $second;
    float: left;
    align-items: center;  
    width: 20%;
    margin-top: 1rem;
    input{
        border-style: none;
        background-color: $second;
        width: 15rem;
        padding: 0.7rem;
        font-size: 1rem;  
    }

    img{
        margin-left: 0.5rem;
        vertical-align: middle;
        border-radius: 5rem;
        
    }
}

.header_nav-menu{
    text-align: center;
    margin-right: 22rem;  
    img{
        margin: 0.4rem 2rem;
       }
    
}

.header_nav-menu-icon{
    display : inline-block;
    align : top;
    margin-top: 0.5rem;
    width: 7rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
   &:hover{
       background-color: darken($color: white, $amount: 5);
   }
}

.header_right{
    text-align: right;
    margin-top: -2.3rem;
   margin-right: 1.5rem;
}
.header_nav-right, .header_nav-right-profil{
    display : inline-block;
    align : top; 
    margin-right: 0.3rem;
    
}
.header_nav-right-profil{
    border-radius: 2rem;
    padding: 0.25rem;
    &:hover {
        background-color: darken($color: white, $amount: 5);
    }
}
.header_nav-right{
    padding: 0.5rem;
    border-radius: 5rem;    
    background-color: $second;
    &:hover {
        background-color: darken($color: $second, $amount: 5);
    }
}

/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/

.section{
    display: grid;
    grid-template-areas:"story"
                        "watsup"
                        "salons"
                        "actuality";

}

.story{
    grid-area: story;
    max-width: 650px;
    width: 100%;
    display: grid;
    grid-template-areas:"story_blok0 story_blok1 story_blok2 story_blok3 story_blok4";
    img{
        border-radius: 2rem;
        margin-left: 20%;
    }
}

%block{
    margin-top: 10%;
}

.story_blok0{
    grid-area: story_blok0;
    @extend %block;
}
.story_blok1{
    grid-area: story_blok1;
    @extend %block;
}
.story_blok2{
    grid-area: story_blok2;
    @extend %block;
}
.story_blok3{
    grid-area: story_blok3;
    @extend %block;
}
.story_blok4{
    grid-area: story_blok4;
    @extend %block;
}

.watsup{
    grid-area: watsup;
    background-color: red($color: #000000);
}

.salons{
    grid-area: salons;
    background-color: green($color: #000000);
}

.actuality{
    grid-area: actuality;
    background-color: blue($color: #000000);
}
/*----------------------------------------------------------------------------------------
    aside left
-----------------------------------------------------------------------------------------*/
.aside_left{
    @extend %police;
    grid-area: aside_left;
    img{
    vertical-align: middle;
    border-radius: 5rem;
    }
}

.aside_left-ol-ul{
    @extend %border;
    @extend %police;
    margin: 1rem;
    &:hover{
        background-color: darken($color: $primary, $amount: 5);
    }
}

.aside_left-hr{
    border-style: groove;
    margin: 1rem;
}

.aside_left-h3{
    margin: 1rem;
    
}


/*----------------------------------------------------------------------------------------
    aside right
-----------------------------------------------------------------------------------------*/

.aside_right{
    grid-area: aside_right;
    width: 100%;

}


/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/
.section{
    grid-area: section;

}