/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* ordi et tablette au dessus de 760px et smartphone entre 480 et 360px*/
.aside_left-ol-ul, .header_nav-search {
  border: white;
  border-style: none;
  border-radius: 2rem;
}

.aside_left-ol-ul, .aside_left, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

/*----------------------------------------------------------------------------------------
    Body 
----------------------------------------------------------------------------------------*/
body {
  background-color: #ebecf0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "header header header" "aside_left section aside_right" "aside_left section aside_right";
}

/*----------------------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------------------*/
.header {
  grid-area: header;
  background-color: white;
  width: 100%;
  height: 3.7rem;
  align-items: center;
  justify-content: center;
}
.header img {
  vertical-align: middle;
  border-radius: 5rem;
}

.header_nav-search {
  background-color: #f0f1f5;
  float: left;
  align-items: center;
  width: 20%;
  margin-top: 1rem;
}
.header_nav-search input {
  border-style: none;
  background-color: #f0f1f5;
  width: 15rem;
  padding: 0.7rem;
  font-size: 1rem;
}
.header_nav-search img {
  margin-left: 0.5rem;
  vertical-align: middle;
  border-radius: 5rem;
}

.header_nav-menu {
  text-align: center;
  margin-right: 22rem;
}
.header_nav-menu img {
  margin: 0.4rem 2rem;
}

.header_nav-menu-icon {
  display: inline-block;
  align: top;
  margin-top: 0.5rem;
  width: 7rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.header_nav-menu-icon:hover {
  background-color: #f2f2f2;
}

.header_right {
  text-align: right;
  margin-top: -2.3rem;
  margin-right: 1.5rem;
}

.header_nav-right, .header_nav-right-profil {
  display: inline-block;
  align: top;
  margin-right: 0.3rem;
}

.header_nav-right-profil {
  border-radius: 2rem;
  padding: 0.25rem;
}
.header_nav-right-profil:hover {
  background-color: #f2f2f2;
}

.header_nav-right {
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: #f0f1f5;
}
.header_nav-right:hover {
  background-color: #e1e3eb;
}

/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/
.section {
  display: grid;
  grid-template-areas: "story" "watsup" "salons" "actuality";
}

.story {
  grid-area: story;
  width: 85%;
  display: grid;
  grid-template-areas: "story_blok0 story_blok1 story_blok2 story_blok3 story_blok4";
}
.story img {
  border-radius: 1rem;
  margin-left: 20%;
}

.story_blok4, .story_blok3, .story_blok2, .story_blok1, .story_blok0 {
  margin-top: 18%;
}

.story_blok0 {
  grid-area: story_blok0;
}

.story_blok1 {
  grid-area: story_blok1;
}

.story_blok2 {
  grid-area: story_blok2;
}

.story_blok3 {
  grid-area: story_blok3;
}

.story_blok4 {
  grid-area: story_blok4;
}

.watsup {
  grid-area: watsup;
  background-color: 0;
}

.salons {
  grid-area: salons;
  background-color: 0;
}

.actuality {
  grid-area: actuality;
  background-color: 0;
}

/*----------------------------------------------------------------------------------------
    aside left
-----------------------------------------------------------------------------------------*/
.aside_left {
  grid-area: aside_left;
}
.aside_left img {
  vertical-align: middle;
  border-radius: 5rem;
}

.aside_left-ol-ul {
  margin: 1rem;
}
.aside_left-ol-ul:hover {
  background-color: #dcdee5;
}

.aside_left-hr, .aside_right-hr {
  border-style: outset;
  margin: 0.5rem 1rem;
}

.aside_left-h3, .aside_right-h3 {
  margin: 1rem;
  font-size: 1.1rem;
}

/*----------------------------------------------------------------------------------------
    aside right
-----------------------------------------------------------------------------------------*/
.aside_right {
  grid-area: aside_right;
  width: 100%;
}

.aside_right-pub {
  width: 13.5rem;
  margin: 1rem;
}
.aside_right-pub img {
  float: left;
  vertical-align: middle;
}

.aside_right-p-span {
  color: gray;
}

.aside_right-hr {
  margin: 1rem;
}

.aside_right-h3 {
  display: inline;
  margin: 1rem;
}

.aside_right-iconB {
  margin-left: 13rem;
  display: inline;
}

.aside_right-icon {
  width: 1.1rem;
}

/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/
.section {
  grid-area: section;
}

/*# sourceMappingURL=style.css.map */
