/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* ordi et tablette au dessus de 760px et smartphone entre 480 et 360px*/
.aside_left-ol-ul, .aside_right-ul p, .header_nav-search {
  border: white;
  border-style: none;
  border-radius: 2rem;
}

.aside_left-ol-ul, .aside_right-ul p, .aside_left, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.section_post, .section_salons, .section_watsup {
  box-shadow: 2px 1px 2px #9c9b9b;
}

/*----------------------------------------------------------------------------------------
    Body 
----------------------------------------------------------------------------------------*/
body {
  background-color: #ebecf0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "header header header" "aside_left section aside_right" "aside_left section aside_right";
}

/*----------------------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------------------*/
.header {
  grid-area: header;
  background-color: white;
  width: 100%;
  height: 3.7rem;
  align-items: center;
  justify-content: center;
}
.header img {
  vertical-align: middle;
  border-radius: 5rem;
}

.header_nav-search {
  background-color: #f0f1f5;
  float: left;
  align-items: center;
  width: 20%;
  margin-top: 1rem;
}
.header_nav-search input {
  border-style: none;
  background-color: #f0f1f5;
  width: 15rem;
  padding: 0.7rem;
  font-size: 1rem;
}
.header_nav-search img {
  margin-left: 0.5rem;
  vertical-align: middle;
  border-radius: 5rem;
}

.header_nav-menu {
  text-align: center;
  margin-right: 22rem;
}
.header_nav-menu img {
  margin: 0.4rem 2rem;
}

.header_nav-menu-icon {
  display: inline-block;
  align: top;
  margin-top: 0.5rem;
  width: 7rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.header_nav-menu-icon:hover {
  background-color: #f2f2f2;
}

.header_right {
  text-align: right;
  margin-top: -2.6rem;
  margin-right: 1.5rem;
}

.header_nav-right, .header_nav-right-profil {
  display: inline-block;
  align: top;
  margin-right: 0.3rem;
}

.header_nav-right-profil {
  border-radius: 2rem;
  padding: 0.25rem;
}
.header_nav-right-profil:hover {
  background-color: #f2f2f2;
}

.header_nav-right {
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: #f0f1f5;
}
.header_nav-right:hover {
  background-color: #e1e3eb;
}

/*----------------------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------------------*/
.section {
  grid-area: section;
  display: grid;
  grid-template-areas: "story" "watsup" "salons" "post";
}

.story {
  grid-area: story;
  width: 85%;
  height: 25%;
  display: grid;
  grid-template-areas: "story_blok0 story_blok1 story_blok2 story_blok3 story_blok4";
}
.story img {
  border-radius: 1rem;
  margin-left: 4rem;
}

.story_blok4, .story_blok3, .story_blok2, .story_blok1, .story_blok0 {
  margin-top: 18%;
}

.story_blok0 {
  grid-area: story_blok0;
}

.story_blok1 {
  grid-area: story_blok1;
}

.story_blok2 {
  grid-area: story_blok2;
}

.story_blok3 {
  grid-area: story_blok3;
}

.story_blok4 {
  grid-area: story_blok4;
}

/*---------------------------------------------------*/
.section_watsup {
  grid-area: watsup;
  background-color: white;
  margin-left: 7rem;
  width: 33rem;
  height: 108%;
  border-radius: 0.5rem;
}

.section_watsup_search {
  margin: 0.5rem 0.5rem;
}
.section_watsup_search img {
  border-radius: 5rem;
  vertical-align: bottom;
}
.section_watsup_search input {
  vertical-align: super;
  border-style: none;
  border-radius: 1.5rem;
  background-color: #f0f1f5;
  width: 90%;
  padding: 0.7rem;
  font-size: 1rem;
}

.section_wastup_hr {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  width: 95%;
  margin-left: 0.8em;
  border-style: outset;
}

.section_wastup_block {
  display: inline;
  vertical-align: middle;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
}
.section_wastup_block img {
  vertical-align: middle;
}
.section_wastup_block:hover {
  background-color: #e1e3eb;
}

/*---------------------------------------------------*/
.section_salons {
  grid-area: salons;
  background-color: white;
  margin-left: 7rem;
  margin-top: 1rem;
  width: 33rem;
  border-radius: 0.5rem;
  height: 5rem;
}

.section_salons-top {
  margin: 0.3rem;
  display: line;
}
.section_salons-top p {
  display: inline;
}
.section_salons-top img {
  float: left;
  vertical-align: super;
  margin-right: 0.2rem;
}
.section_salons-top a {
  color: blue;
  margin-left: 23.5rem;
  text-decoration: none;
}

.section_salons-bottom {
  margin-left: 1rem;
}
.section_salons-bottom img {
  margin: 0.2rem;
}

/*---------------------------------------------------*/
.section_post {
  grid-area: post;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 7rem;
  width: 33rem;
  background-color: white;
  height: 53.5rem;
}

.section_post-blok0 {
  display: line;
}

.section_post-block-P-img {
  vertical-align: text-bottom;
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.section_post-block-top {
  margin: 1rem 0.5rem;
}
.section_post-block-top img {
  border-radius: 5rem;
}
.section_post-block-top p {
  vertical-align: text-top;
}

.section_post-block-middle {
  display: inline-flex;
  margin-top: 0.5rem;
}
.section_post-block-middle a {
  color: gray;
  margin-top: 0.5rem;
  margin-left: 21rem;
}

.section_post-block-top-icon {
  margin-left: 10rem;
}

.section_post-block-middle-btn {
  display: inline;
  margin-left: 4rem;
  border-style: none;
  padding: 0.5rem 2rem;
}
.section_post-block-middle-btn img {
  margin-bottom: -0.4rem;
}
.section_post-block-middle-btn:hover {
  background-color: #e1e3eb;
}

.section_post-block-hr {
  margin: 0.7rem;
}

.section_post-block-bottom-com {
  display: line;
  background-color: #ebecf0;
  margin-left: 3.1rem;
  border-radius: 1.5rem;
  padding: 0.7rem;
}
.section_post-block-bottom-com img {
  float: right;
}
.section_post-block-bottom-com input {
  background-color: #ebecf0;
  border-style: none;
}

/*----------------------------------------------------------------------------------------
    aside left
-----------------------------------------------------------------------------------------*/
.aside_left {
  grid-area: aside_left;
}
.aside_left img {
  vertical-align: middle;
  border-radius: 5rem;
}

.aside_left-ol-ul, .aside_right-ul p {
  margin: 1rem;
}
.aside_left-ol-ul:hover, .aside_right-ul p:hover {
  background-color: #dcdee5;
}

.aside_left-hr, .aside_right-hr {
  border-style: outset;
  margin: 0.5rem 1rem;
}

.aside_left-h3, .aside_right-h3 {
  margin: 1rem;
  font-size: 1.1rem;
}

/*----------------------------------------------------------------------------------------
    aside right
-----------------------------------------------------------------------------------------*/
.aside_right {
  grid-area: aside_right;
  width: 100%;
}

.aside_right-pub {
  width: 13.5rem;
  margin: 1rem;
}
.aside_right-pub img {
  float: left;
  vertical-align: middle;
}

.aside_right-p-span {
  color: gray;
}

.aside_right-hr {
  margin: 1rem;
}

.aside_right-h3 {
  display: inline;
  margin: 1rem;
}

.aside_right-iconB {
  margin-left: 13rem;
  display: inline;
}

.aside_right-icon {
  width: 1.1rem;
}

.aside_right-ul p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.aside_right-ul img {
  width: 2.2rem;
  border-radius: 5rem;
}

.aside_right-ul-contact-name {
  text-align: center;
  vertical-align: super;
}

/*# sourceMappingURL=style.css.map */
