
.m_post{
    grid-area: post;
    margin-top: 25px;
    height: 1430px;
    background-color: white;
}

.m_post-top{
    display: flex; 
    margin-top: 2rem;
}
.m_post-top-img1{
    width: 6rem; 
    border-radius: 5rem; 
    vertical-align: middle; 
}

.m_post-top-icon1{
    transform: rotate(90deg); 
    width: 1.7rem;
}
.m_post-top-icon2{
    transform: rotate(-90deg); 
    width: 3rem; 
    height: 5rem; 
    margin: 2rem;
}
.m_post-top-imgPost{
    width: 100%; 
    margin-top: 2rem;
}

.m_post-bot{
    margin: 1rem;
    height: 45px;
}
.m_post-bot-span{
    position: absolute; 
    left: 2rem;
}
.m_post-bot-a{
    position: absolute; 
    right: 2rem; 
    color: gray; 
    text-decoration: none;
    margin-left: 0rem;
}
.m_post-bot-hr{
    margin: 1rem;
}
.m_post-bot-btn{
    img{
    width: 3.3rem; 
    vertical-align: middle;
    }
    color: gray;
}
.m_post_container{
    width: 100%;
    font-size: 3rem;
    justify-content: space-between;
    img{
        width: 3rem;
    }
}

