@import "../libs/reset.scss";


   
.m_body{
    display: grid;
    grid-row: repeat (4, 100%);
    grid-template-areas: "header"
    "watsup"
    "stories"
    "post";
    background-color: rgb(218, 221, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

  
.m_header {
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #365c95;
    img{
        width: 7%;
        margin: 0px 30px;
    }
    
}
  
.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.space_B{
    justify-content: space-between;
}

.m_watsup{
    grid-area: watsup;
    width: 100%;
    text-align: center;
    background-color: white;
    img{
        width: 10%;
        vertical-align: middle;
    }
    input{
        width: 70%;
        height: 80px;
        margin: 25px;
        border-radius: 3rem;
        font-size: 2.2rem;
    }
}

.m_wastsup-img1{
    border-radius: 50%;
}

.m_stories{
    grid-area: stories;
    height: 460px;
    margin-top: 25px;
    background-color: white;  
    h3, p{
        margin: 22px;
        margin-bottom: 30px;
    }
    img{
        width: 23%;
    }
}

@import "../sass/m.post.scss"