@import "../libs/lib.scss";

/*----------------------------------------------------------------------------------------
   section
-----------------------------------------------------------------------------------------*/

    .section{
        grid-area: section;
        display: box;
    }

    .story{
        grid-area: story;
        width: 86%;
        display: flex;
        margin-top: 1rem;
        img{
            border-radius: 1rem;
            margin-left: 4rem;
        }
    }

/*---------------------------------------------------*/

    .section_watsup{
        grid-area: watsup;
        margin-top: 0.8rem;
        background-color: white;
        margin-left: 6.5rem;
        width: 75%;
        height: 100px;
        border-radius: 0.5rem;
        @extend %shadow;
    }
    .section_watsup_search{
    margin: 0.5rem 0.5rem;
    margin-top: 1rem;
        img{
            border-radius: 5rem;
            vertical-align: middle;
        }
        input{
            vertical-align: middle;
            border-style: none;
            border-radius: 1.5rem;
            background-color: $second;
            width: 85%;
            height: 35px;
            font-size: 1rem;
        }
    
    }
    .section_wastup_hr{
        vertical-align: middle;   
        width: 93%;
        border-style: outset;
    }
    .section_wastup_block{
        margin-top: 0.5rem;
    img{
        vertical-align: middle;
    }
        &:hover {
            background-color: darken($color: $second, $amount: 5);
        }
    }

/*---------------------------------------------------*/

    .section_salons{
        grid-area: salons;
        background-color: white;
        margin-left: 6.5rem;
        margin-top: 0.8rem;
        width: 75%;
        border-radius: 0.5rem;
        height: 75px;
        @extend %shadow;

        img{
            float: left;
            vertical-align: super;
            margin-right: 0.2rem;
        }
        a{
            margin-right: 0.7rem;
            color: blue;
            text-decoration: none;
        }
    }

    .section_salons-bottom{
        display: flex; 
        img{
            margin: 0.2rem;
        }
    }
/*---------------------------------------------------*/

    .section_post{
        grid-area: post;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-left: 6.5rem;
        width: 75%;    
        background-color: white;
        height: 100%;
        @extend %shadow;
        a{
            margin-right: 0.7rem;
            color: gray;
            text-decoration: none;
        }
        hr{
            width: 93%;
            margin-left: 1.5rem;
            border-style: outset;
        }
    }


    .post_container{
        width: 100%;
        font-size: 1rem;
        justify-content: space-between;
        img{
            width: 1rem;
        }
    }
    .post_btn{
        padding: 0.2rem;
        img{
            width: 1.4rem;
            vertical-align: middle;
        }

        &:hover{
            background-color: darken($color: $second, $amount: 5);
        }
    }

    .post_bottom{
        display: line;
        background-color: $primary;
        margin-left: 3rem;
        border-radius: 1.5rem;
        padding: 0.5rem;
        img{
            float: right;
        }
        input{
            background-color: $primary;
            border-style: none;
            padding: 0.3rem;
        }
    }

