@import "../libs/reset.scss";
@import "../libs/lib.scss";
    

    /*----------------------------------------------------------------------------------------
        Body 
    ----------------------------------------------------------------------------------------*/

    .body_deskop{
        @extend %police;
        background-color: $primary;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas: "header header header"
                            "aside_left section aside_right"
                            "aside_left section aside_right";
        
    }

    @import "../sass/header.scss";
    @import "../sass/aside.scss";
    @import "../sass/section.scss";